body{
    font-family: gill sans, sans-serif;
    background-image: url(Images/bgimage.jpg);
    background-repeat: no-repeat;
    background-size:cover;

    
    
}

.signuprow {
    display:flex;
    flex-direction: row;
   
}

.containertop .title{
    color:white;
   
    
    padding-left: 20px;
    

    
}

.tagline {
    font-family: Georgia, serif;
    color:white;
}

.nav-pills .nav-link{
    background-color:rgb(95, 132, 233);
}

.carousel img{
    width:520px;
    height:520px;
    object-fit: cover;
    
}

.card{
    transition: all 0.4;
}
.card:hover{
    transform: scale(1.05);
}

.nav-item:hover{
    transform: scale(1.05);
    

}

.iconbtn:hover {
    transform: scale(1.30);
    

}


.card img{
    object-fit: cover;
    
    width: 670px;
    height: 670px;;

    
    
    

}













 







